# IDE

/target
.idea/

.classpath
.project
.settings/

jobgenerator.py
bigjob.py

bin/shutdown.pid

iguassu.conf
iguassu.iml

*.log
*.log.*
logs/

iguassu.iml
nohup.out

bin/iguassu-1.0.0.jar
bin/lib/
