# IDE

/target
.idea/

.classpath
.project
.settings/

jobgenerator.py
bigjob.py

*.db
datastores/
bin/shutdown.pid


src/main/resources/iguassu.conf
iguassu.conf
iguassu.iml

test/test.conf
test/blowout.conf
test/blowout2.conf

*.log
*.log.*
logs/

iguassu.iml
nohup.out
bin/iguassu-1.0.0.jar
bin/lib/
