####################################################
##                                                ##
##    This is the sample configuration            ##
##    Make a copy of this file and change         ##
##    it to use your own configuration values     ##
##                                                ##
####################################################

infra_is_elastic=true
infra_provider_class_name=org.fogbowcloud.blowout.scheduler.infrastructure.fogbow.FogbowInfrastructureProvider
infra_order_service_time=100000
infra_resource_service_time=100000
infra_resource_connection_timeout=300000
infra_resource_idle_lifetime=30000
	
infra_initial_specs_block_creating=true
infra_initial_specs_remove_previous_resources=true
	
infra_fogbow_manager_base_url=https://10.11.4.234:8183
infra_fogbow_token_public_key_filepath=/tmp/x509up_u1350
infra_fogbow_token_update_plugin=org.fogbowcloud.blowout.infrastructure.plugin.NAFTokenUpdatePlugin
naf_identity_private_key=/local/keylocation/NAF/private_key.pem
naf_identity_public_key=/local/keylocation/NAF/public_key.pem
naf_identity_token_username=fogbow
naf_identity_token_password=password
naf_identity_token_generator_endpoint=http://localhost:8080
token_update.time=2
token_update.time.unit=H

accounting_datastore_url=jdbc:h2:/tmp/sebalsched.orders
execution_monitor_period=60000
local_output=/tmp/arrebol
local_command_interpreter=/bin/bash

rest_server_port=44444

public_key=ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDG2U8rz4I31LIyDBPpe01WJdGt0JBowZ0Zq7Nxq7mol3G4cW5OJt9v3aQLRU8zanceXXSagNg8O4v2ppFzROYlIOgg2KN3Zu6Tj7Evmfp++J160dwshnP3aQCSLIDSBnMsZyPRprIbaL2LifVmrKcOfG3QcRQHZx2HRWJp+lty0IqP+FBaobB7nXzF58ibOJ84Fk9QpQmS5JK3AXdwCISmN8bgfcjoUJB2FMB5OU8ilkIyG4HDZmI82z+6hUS2sVd/ss8biIN6qGfRVxEDhVlDw3o+XqL+HQ7udd2Q61oHs8iBa711SWG64Eie6HAm8SIOsL7dvPx1rBfBsp3Dq3gjnIpTZqwluiTE8q9S6rTiDQndCGWvAnSU01BePD51ZnMEckluYTOhNLgCMtNTXZJgYSHPVsLWXa5xdGSffL73a4gIupE36tnZlNyiAQGDJUrWh+ygEc2ALdQfpOVWo+CMkTBswvrHYSJdFC7r1U8ACrOlsLE02/uqqBbp7fTUuuMk77J8t0ocxuz48tVKOlog0ajS5nphPLfPGnP2PVTh7GXNTLOnqGVwMrjFIAHj7ukd+l36wUAIHR7Y4YWKVaIBvTZS/fQNn0cOGon2DnNL3wNAUc6pthhXlNY33aU2ky55mZR4drAdbRGRdEZQF0YHEFnzP0x2GucHwg6ZtMJ2Aw== igorvcs@bobo
fogbow_username=fogbow
private_key_filepath=/local/keylocation/.ssh/id_rsa
remote_output_folder=/tmp